{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<section>
    <section class="image">
        <div class="imagem_content">
            <img class="imagem_image" src="{% static '/assets/icons/andromeda.jpg' %}">
            <br>
            <div class="image_info">
                <div class="imagem_text">
                    <p class="image_title">Andromeda</p>
                    <p class="image_description">December 18, 2023</p>
                    <br>
                    <br>
                    <p class="imagem_text">The Andromeda Galaxy, also known as M31, is the closest spiral galaxy to the Milky Way, where our solar system is located. It is situated approximately 2.5 million light-years away from Earth in the direction of the Andromeda constellation. Andromeda is the largest galaxy in the Local Group, which includes the Milky Way, the Triangulum Galaxy (M33), and several other smaller galaxies.</p>
                    <p class="imagem_text">The Andromeda Galaxy is significantly larger than the Milky Way in terms of mass and diameter. It contains hundreds of billions of stars, as well as a substantial amount of dark matter, the exact nature of which is still a subject of research and debate among astronomers.</p>
                    <p class="imagem_text">Scientists believe that the Milky Way and Andromeda are on a collision course, and in a few billion years, they will merge to form a single massive galaxy. This cosmic event is known as galactic merger and is a normal part of the evolution of galaxies in cosmic clusters.</p>
                    <p class="imagem_text">Detailed studies of the Andromeda Galaxy are conducted through telescopic observations across various ranges of the electromagnetic spectrum, including visible light, X-rays, and radio waves. The Hubble Space Telescope, among other instruments, has significantly contributed to our understanding of the structure and dynamics of this impressive galaxy.</p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}