{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<section>
    <section class="image">
        <div class="imagem_content">
            <img class="imagem_image" src="{% static '/assets/icons/earth.jpg' %}">
            <br>
            <div class="image_info">
                <div class="imagem_text">
                    <p class="image_title">Earth</p>
                    <p class="image_description">December 18, 2023</p>
                    <br>
                    <br>
                    <p class="imagem_text">Earth, the third planet in the Solar System, is a remarkable world that sustains an incredible diversity of life. With a rocky composition and a unique atmosphere, our planet is the only one known to harbor rich and varied ecosystems. Its physical features, ranging from majestic mountain ranges to vast oceans that cover most of the surface, give Earth a distinctive and captivating landscape.</p>
                    <p class="imagem_text">The Earth's atmosphere, primarily composed of nitrogen and oxygen, plays a crucial role in protecting life. In addition to providing essential oxygen for respiration, it acts as a barrier against harmful solar radiation, creating a conducive environment for the existence and evolution of life forms. The seasons, a result of Earth's axial tilt, add a fascinating dynamic, shaping diverse climates that influence life patterns across the globe.</p>
                    <p class="imagem_text">Water, an essential component for life, is a distinctive feature of Earth. Its oceans, seas, rivers, and lakes house a myriad of organisms and play a fundamental role in regulating the global climate. The biosphere, the intricate web of life, spans from microscopic organisms invisible to the naked eye to majestic living beings, all interconnected in a harmonious dance of biogeochemical cycles.</p>
                    <p class="imagem_text">Earth, in constant motion with its crust divided into tectonic plates, experiences geological changes that shape its landscape over time. Earthquakes, volcanoes, and the formation of mountain ranges are visible evidence of geological dynamics in action. Thus, Earth is a living, dynamic, and lush planet, whose understanding is vital to preserving its ecological balance and ensuring a sustainable future for generations to come.</p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}