{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<section>
    <section class="image">
        <div class="imagem_content">
            <img class="imagem_image" src="{% static '/assets/icons/deneb.jpg' %}">
            <br>
            <div class="image_info">
                <div class="imagem_text">
                    <p class="image_title">Deneb</p>
                    <p class="image_description">December 18, 2023</p>
                    <br>
                    <br>
                    <p class="imagem_text">Deneb is a notable star located in the constellation of Cygnus, known for its brightness and prominent role in the formation of the Cygnus constellation. Its Bayer designation is Alpha Cygni, indicating that it is the alpha star of this constellation. Deneb is an A2Ia spectral class star, characterized as an extremely luminous and hot white supergiant.</p>
                    <p class="imagem_text">In terms of physical characteristics, Deneb is one of the brightest stars visible to the naked eye in the night sky and is one of the three stars that make up the "Summer Triangle," along with Vega and Altair. These stars form a notable triangle in the sky during the summer months in the northern hemisphere. Deneb is located at an estimated distance of approximately 2,600 light-years from Earth, making it one of the most distant stars visible to the naked eye.</p>
                    <p class="imagem_text">In addition to its remarkable brightness and distance, Deneb is known for its contribution to the formation of the Cygnus constellation, where it represents the "head" of the mythological bird. Its presence stands out in the Milky Way, providing a breathtaking sight for nighttime observers. Astronomical studies continue to explore the unique characteristics of Deneb, contributing to our broader understanding of stellar evolution and the dynamics of the cosmos.</p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}